<div class="admin-sidebar">
    <div class="logo">
        <i class="fa-solid fa-prescription"></i>
        <h1>Project RX</h1>
    </div>
  
    <div class="links">
      <ul>
        <li>
          <a href="#"><i class="fa-solid fa-prescription"></i>Dashboard</a>
        </li>
        <li>
          <a routerLink="doctors"><i class="fa-solid fa-stethoscope"></i>Doctors</a>
        </li>
        <li>
            <a href=""><i class="fa-solid fa-prescription-bottle-medical"></i>Pharmacists</a>
        </li>
        <li>
          <a routerLink="drugs"><i class="fa-solid fa-pills"></i>Drugs</a>
        </li>
        <li>
          <a href=""><i class="fa-solid fa-file-prescription"></i>Prescriptions</a>
        </li>
        <li>
          <a class="logout" href=""><i class="fa-solid fa-right-from-bracket"></i>Logout</a>
        </li>
      </ul>
    </div>
  
  </div>
